@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 220, 220, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb)),
      transparent
    )
    rgb(var(--background-start-rgb));
}

body,
html {
  height: 100%;
}

main {
  flex: 1;
}

header,
main,
footer {
  padding: 1rem 2rem;
}
